*{
    margin: 0;
    padding: 0;
  
   
}
.container{
    background:rgb(33, 33, 130);
    height: 30px;
    max-width: 100%;
    position: fixed;
    width: 100%;
    z-index: 3000;


}
.lo{
    background-image:url(logo.png) ;
    height: 20px;
    width: 200px;
    top: 5px;
    position: relative;
    left: 40px;
    cursor: pointer;
    background-size: cover;
}
.demo :hover{
    color: white;
    cursor: pointer;
}
.icon{
    position: relative;
    left: 210px;
    color: rgb(0, 0, 0);
    margin-left: 10px;
    margin-top: 5px;
}
.icon:hover{
    color: #eaeaea;
}
.row{
    
    position: relative;
    left: 700px;
    top: -15px;
    
}
.fa-angle-left{
    color:rgb(208, 208, 208); 
    cursor: pointer;
}
.fa-angle-left:hover{
    color:white;
}
.row-1{
    display: inline-block;
    color: white;
}
.fa-chevron-right{
    color:rgb(208, 208, 208); 
    cursor: pointer;
}
.fa-chevron-right:hover{
    color:white;
}
.row-2{
    position: relative;
    left: 1275px;
    top:-35px;
}
.fa-arrow-up-right-from-square{
    cursor: pointer;
    color: rgb(243, 202, 222);
}
.fa-arrow-up-right-from-square:hover{
    color: white;
}
.fre{
    text-decoration: none;
    font-family: sans-serif;
    background: rgb(55, 168, 239);
    padding: 7px;
    padding-left: 67px;
    color: rgb(232, 220, 220);
}
.fre:hover{
    color: white;
}
.fa-download{
    position: relative;
    left:45px
}
.fa-download:hover{
    color: white;

}
.container-2{
    background: rgb(247, 244, 244);
    height:70px;
    
    max-width:100%;
    position: relative;
    top: 30px;
}
.me{
    position: relative;
    left: 50px;
    width: 100px;
    top: 35px;
    font-size: x-large;
    font-family: sans-serif;
    font-weight: 700;
    color: rgb(80,80,160);
    cursor: pointer;

}
.list{
    position: relative;
    left: 500px;
    top: 15px;
}
.list-1{
    display: inline-block;
    margin-right: 35px;
    font-family: sans-serif;
    cursor: pointer;

}
.line{
    background: lightgreen;
    height: 3px;
    width: 50%;
    position: relative;
    top: 5px;
    border-radius: 10px;
}
.line1{
    background: lightgreen;
    height: 3px;
    width: 50px;
    position: relative;
    top: 5px;
    border-radius: 10px;
   display: none;
   transition: 0.5s;
 
}
.list-1:hover.line1{
    display: block;
    
}
.con-2{
    position: relative;
    top: -8px;
    left: 1290px;
    color: rgb(5, 5, 98) ;
    cursor: pointer;
    word-spacing: 10px;
}
.container-3{
   background:url(hero-bg.jpg);
    height: 500px;
    max-width:100%;
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.wel{
    font-size:xxx-large;
    font-weight: 700;
    line-height: 56px;
    color: #222222;
    position:relative;
    left: 675px;
    top: 200px;
    line-height: 60px; 
}

.are{
    color: #6f6f6f;
    font-size: 22px;
    position:relative;
    left: 590px;
    top: 200px;
    line-height: 60px; 
}
.get{
    font-family:  sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 40px;
    border-radius: 50px;
    transition: 0.5s;
    margin-top: 210px;
    color: #fff;
    background: #34b7a7;
    margin-left: 700px;
}
.cop{
    width: 250px;
    position: relative;
    left: 650px;
    top: 30px;
}
.noth{
    font-weight: 900;
}
.colur{
    color: #34b7a7;
}
.fa-sharp{
    position:fixed; 
    right: 30px;
    margin-top: -13px;
    background: #34b7a7;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    padding-top: 12px;
    padding-left: 13px;
    cursor: pointer;
}

